body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-questrial: Questrial;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-2xl: 21px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-mid: 17px;
  --font-size-smi: 13px;
  --font-size-mini: 15px;
  --font-size-3xl: 22px;
  --font-size-2xs: 11px;

  /* Colors */
  --white-500: #fff;
  --color-dimgray: #737373;
  --gray-500: #8b8688;
  --color-gray-100: #808080;
  --dark-500: #25131a;
  --color-typography-title: #120d26;
  --gray-gray-20: rgba(139, 134, 136, 0.2);
  --color-gray-200: rgba(139, 134, 136, 0.5);
  --gray-gray-5: rgba(139, 134, 136, 0.05);
  --color-gray-300: rgba(37, 19, 26, 0.5);
  --color-darkslategray: #2c3550;
  --color-silver-100: #c7c7c7;
  --color-silver-200: #c2bdbd;
  --light-500: #f4f4f4;
  --color-whitesmoke-100: #eee;
  --color-black: #000;
  --color-typography-sub-color: #747688;

  /* Gaps */
  --gap-xl: 20px;
  --gap-3xs: 10px;
  --gap-base: 16px;
  --gap-xs: 12px;
  --gap-8xs: 5px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-10xs: 3px;
  --padding-5xs: 8px;
  --padding-xl: 20px;
  --padding-6xs: 7px;
  --padding-xs: 12px;
  --padding-smi: 13px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-sm: 14px;
  --br-5xs: 8px;
  --br-base: 16px;
  --br-2xl: 21px;
  --br-xs: 12px;

  /* Effects */
  --ds-1: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 38.5px 25.48px rgba(0, 0, 0, 0.01);
  --shadow-medium: 0px 8px 50px rgba(0, 0, 0, 0.06);
  --ds-2: 0px 50px 100px rgba(0, 0, 0, 0.05), 0px 50px 100px rgba(0, 0, 0, 0.04),
    0px 8.1px 6.52px rgba(0, 0, 0, 0.01);
  --card-shadow: 0px 16px 32px rgba(73, 62, 131, 0.12);
  --drop-shadow: 0px 40px 60px rgba(211, 209, 216, 0.5);
}
